{% extends 'base.html' %}

{% block content %}
            <div class="page_contact">
                    <span class="page__heading">О компании<span class="page__heading__in">Мы успешно работаем с клиентами<br/> по всей России</span> </span>
                    <p class="page_about__text">Оперативность решения всех возникающих вопросов 1С остается важным
                        критерием успешной работы бухгалтера. Наша компания осуществляет весь спектр поддержки
                        бухгалтеров в части 1С.</p>
                    <p class="page_about__text"><strong>Преимущества работы с нами:</strong>  </p>
                    <p class="page_about__text"><span class="text__yellow">Компетентность специалистов.</span> Наши сотрудники обладают большим уровнем профессионализма, а также имею опыт обслуживания предприятий различных отраслей экономики</p>
                    <p class="page_about__text"><span class="text__red">Индивидуальный подход.</span>  За вашей компанией закрепляется персональный консультант, который всегда будут в курсе особенностей Вашей конфигурации</p>
                    <p class="page_about__text"><span class="text__green"> Круглосуточная поддержка. </span> Вы можете не беспокоится о времени суток, вы получите посмощь в любое время, как только поставите нам задачу</p>
                    <p class="page_about__text">
                        <span class="text__brown"> Безопасность работы.</span> Наши IT-специалисты следят о безопасности интернет соединений, по средствам которых мы осуществляем поддержку</p>
                    <p class="page_about__text">Мы дарим нашим новым клиентам 30 минут пробных консультаций по любым вопросам в рамках бухгалтерского и налогового учета в 1С, чтобы вы могли не на словах оценить преимущество сотрудничества с нами. Обратитесь к нам, и наши сертифицированные консультанты оперативно ответят на ваши горящие вопросы. </p>
            </div>

            <div class="footer">
                <span class="footer__counter"></span>
                Copirayting 2013 FEST | LAB
            </div>

{% endblock %}
