<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <meta charset="utf-8"/>
    <title></title>
    <link type="text/css" rel="stylesheet" href="css/style.css"/>
    <link type="text/css" rel="stylesheet" href="css/reset.css"/>
    <script src="js/jquery-1.9.1.min.js"></script>
    <script src="js/script.js"></script>

</head>
<body>
<div class="layout">
    <div class="wrapper">
        <div class="header">
            <span class="phone">(4895)<span class="phone__in">33-03-64</span></span>
				<span class="logo"><span class="logo_mark">F</span>EST | LAB
					<span class="logo__in">с нами вам удобнее
					</span>
				</span>
            <ul class="nav">
                <li class="nav__i active">Продукты 1С</li>
                <li class="nav__i">Услуги</li>
                <li class="nav__i">О компании</li>
                <li class="nav__i">Контакты</li>
            </ul>
            <div class="form_feedback">
                <span class="form_feedback__title">Оставьте контакты и мы вам позвоним</span>

                <div class="contact-form">
                    <form>
                        <input id="form_name" class="contact-form_text" type="text" value="" placeholder="Ваше имя..."/>
                        <input id="form_phone" class="contact-form_text" type="text" value="" placeholder="Телефон..."/>
                        <input class="contact-form__btn" type="button" value="+"/>

                    </form>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="page_about">
                <div class="slider__wrap">
                    <ul class="slider">
                        <li class="slider__i slider__i_1">
                            <span class="sider__title">Подключение к 1С Отчетность </span>

                            <p class="slider__text">Совместное решение фирмы "1С" и "ФестЛаб", предназначенное для
                                Совместное решение фирмы "1С" и "ФестЛаб", предназначенное для Совместное решение фирмы
                                "1С" и "ФестЛаб", предназначенное для </p>
                            <a href="#" class="slider__btn-send">Отправить заявку на подключение</a>
                        </li>
                        <li class="slider__i slider__i_2">
                            <span class="sider__title">Подключение к 1С Отчетность </span>

                            <p class="slider__text">Совместное решение фирмы "1С" и "ФестЛаб", предназначенное для
                                Совместное решение фирмы "1С" и "ФестЛаб", предназначенное для Совместное решение фирмы
                                "1С" и "ФестЛаб", предназначенное для </p>

                        </li>
                        <li class="slider__i slider__i_3">
                            <span class="sider__title">Подключение к 1С Отчетность </span>

                            <p class="slider__text">Совместное решение фирмы "1С" и "ФестЛаб", предназначенное для
                                Совместное решение фирмы "1С" и "ФестЛаб", предназначенное для Совместное решение фирмы
                                "1С" и "ФестЛаб", предназначенное для </p>

                        </li>
                        <li class="slider__i slider__i_4">
                            <span class="sider__title">Подключение к 1С Отчетность </span>

                            <p class="slider__text">Совместное решение фирмы "1С" и "ФестЛаб", предназначенное для
                                Совместное решение фирмы "1С" и "ФестЛаб", предназначенное для Совместное решение фирмы
                                "1С" и "ФестЛаб", предназначенное для </p>

                        </li>
                        <li class="slider__i slider__i_5">
                            <span class="sider__title">Подключение к 1С Отчетность </span>

                            <p class="slider__text">Совместное решение фирмы "1С" и "ФестЛаб", предназначенное для
                                Совместное решение фирмы "1С" и "ФестЛаб", предназначенное для Совместное решение фирмы
                                "1С" и "ФестЛаб", предназначенное для </p>

                        </li>
                    </ul>
                    <div class="slider__nav">
                        <span class="slider__nav__l"></span>
                        <span class="slider__nav__l"></span>
                        <span class="slider__nav__l"></span>
                        <span class="slider__nav__l"></span>
                        <span class="slider__nav__l"></span>

                    </div>
                </div>
                <div class="about__box about__box_a">
                    <span class="about__box__title">Купить</span>
                    Мы дарим нашим новым клиентам 30 минут пробных консультаций по любым вопросам в рамках .
                </div>
                <div class="about__box about__box_b">
                    <span class="about__box__title">Внедрить</span>
                    Мы дарим нашим новым клиентам 30 минут пробных консультаций по любым вопросам в рамках .
                </div>
                <div class="about__box about__box_c">
                    <span class="about__box__title">Доработать</span>
                    Мы дарим нашим новым клиентам 30 минут пробных консультаций по любым вопросам в рамках .
                </div>
                <div class="page_about__content">
                    <span class="page_about__content__title">Кто мы? И что мы делаем?</span>

                    <p class="page_about__text">Оперативность решения всех возникающих вопросов 1С остается важным
                        критерием успешной работы бухгалтера. Наша компания осуществляет весь спектр поддержки
                        бухгалтеров в части 1С.</p>
                    <p class="page_about__text"><strong>Преимущества работы с нами:</strong>  </p>

                    <p class="page_about__text"><span class="text__yellow">Компетентность специалистов.</span> Наши сотрудники обладают большим уровнем профессионализма, а также имею опыт обслуживания предприятий различных отраслей экономики</p>

                    <p class="page_about__text"><span class="text__red">Индивидуальный подход.</span>  За вашей компанией закрепляется персональный консультант, который всегда будут в курсе особенностей Вашей конфигурации</p>

                    <p class="page_about__text"><span class="text__green"> Круглосуточная поддержка. </span> Вы можете не беспокоится о времени суток, вы получите посмощь в любое время, как только поставите нам задачу
                    </p>

                    <p class="page_about__text">
                        <span class="text__brown"> Безопасность работы.</span> Наши IT-специалисты следят о безопасности интернет соединений, по средствам которых мы осуществляем поддержку</p>

                    <p class="page_about__text">Мы дарим нашим новым клиентам 30 минут пробных консультаций по любым вопросам в рамках бухгалтерского и налогового учета в 1С, чтобы вы могли не на словах оценить преимущество сотрудничества с нами. Обратитесь к нам, и наши сертифицированные консультанты оперативно ответят на ваши горящие вопросы. </p>
                </div>
            </div>

            <div class="footer">
                <span class="footer__counter"></span>
                Copirayting 2013 FEST | LAB
            </div>

        </div>
    </div>
    </div>

</body>
</html>



