{% extends 'base.html' %}

{% block content %}
            <div class="page_products">
                    <span class="page__heading">Продукты 1С<span class="page__heading__in">Мы реализуем самые сложные проекты <br/>
и внедряем их</span> </span>

                <div class="product__i">
                    <span class="product__title"><span class="product__i__title">Программы 1С /</span>1С: Бухгалтерия 8 </span>

                    <div class="product__info">
                        


                        <div class="product__info__in">
                        <span class="product__info__title">1С:Бухгалтерия 8</span>
                            <p class="product__info__text">Универсальное решение для ведения бухгалтерского и налогового
                                учета. </p>
                            <ul class="product__info__list">
                                <li class="product__info__list__i"> Подходит для любой системы налогообложения</li>
                                <li class="product__info__list__i"> Поддерживает расчет всех налогов и взносов</li>
                                <li class="product__info__list__i"> Содержит полный набор необходимых первичных
                                    документов
                                </li>
                                <li class="product__info__list__i"> Соответствует текущему законодательству и оперативно
                                    обновляется
                                </li>
                            </ul>
                            <p class="product__info__text">Готовое решение для ведения бухгалтерского и налогового
                                учета.</p>

                        </div>
                        <div class="product__info__view">
                            <img class="" src="/static/img/prod_item.jpg" alt=""/>

                            <div class="product__price__wrap">
                                <div class="product__price__l"><!----></div>
                                <span class="product__price">3000 <span class="product__price__in">руб.</span> </span>
                            </div>
                        </div>


                        <a href="#request_block" id='send_request' class="product__btn product__order-btn">Оформить заказ прямо сейчас</a>

                    </div>
                </div>
                <div class="product__about">
                    <table class="product__about__table">
                        <tr>
                            <th>1С:Бухгалтерия 8</th>
                            <th>7.7</th>
                            <th>8Б</th>
                            <th>8П</th>
                            <th>8К</th>
                        </tr>
                        <tr>
                            <td>Готовое решение для ведения бухгалтерского и налогового учета
                            </td>
                            <td><span class="mark"></span></td>
                            <td><span class="mark"></span></td>
                            <td><span class="mark"></span></td>
                            <td><span class="mark"></span></td>
                        </tr>
                        <tr>
                            <td>Подготовка бухгалтерской и налоговой отчетности</td>
                            <td><span class="mark"></span></td>
                            <td><span class="mark"></span></td>
                            <td><span class="mark"></span></td>
                            <td><span class="mark"></span></td>
                        </tr>
                        <tr>
                            <td> Ведение налогового учета по налогу на прибыль</td>
                            <td><span class="mark"></span></td>
                            <td><span class="mark"></span></td>
                            <td><span class="mark"></span></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Налоговый учет: УСН и ЕНВД</td>
                            <td><span class="mark"></span></td>
                            <td><span class="mark"></span></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Ведение партионного учета</td>
                            <td><span class="mark"></span></td>
                            <td><span class="mark"></span></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td> Возможность настройки счетов учета материально-производственных запасов и расчетов с
                                контрагентами
                            </td>
                            <td><span class="mark"></span></td>
                            <td><span class="mark"></span></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td> Учет по нескольким организациям в отдельных информационных базах</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td> Учет по нескольким организациям в единой информационной базе</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td> Учет в обособленных подразделениях</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td> Возможность изменения (конфигурирования) прикладного решения</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td> Многопользовательский режим работы, в том числе поддержка клиент-серверного варианта
                                работы
                            </td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td> Работа территориально распределенных информационных баз</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td> Поддержка COM-соединения и Automation-сервера</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>

                    </table>
                    <div class="partners"> Клиенты:
                    </div>
                    
                    <div class="page page_feeadback hidden" id='request_block'>
                        {% include 'request.html' %}
                    </dib>
                    
                    <script>
                        $('#send_request').click(function(){
                            if ($('#request_block').hasClass('hidden')) $('#request_block').removeClass('hidden')
                            else $('#request_block').addClass('hidden')
                        })
                    </script>
                </div>

            </div>

        </div>

        <div class="footer">
            <span class="footer__counter"></span>
            Copirayting 2013  FEST | LAB
        </div>
{% endblock %}