{% extends 'base.html' %}

{% block content %}
            <div class="page page_feedback">
                    <span class="page__heading">Контакты<span class="page__heading__in">А здесь вы можете ознакомится с нашим<br/>
месторасположением и оставить заявку</span> </span>
                <p class="page_feedback__text">Адрес: г. Москва, ул. Ленина д.64, оф.503</p>
                <p class="page_feedback__text">Телефон: (4895) 33-03-69</p>
                <p class="page_feedback__text">Факс: (4895) 33-03-70</p>
				
				<div class="map">
                    <script type="text/javascript" charset="utf-8" 
                    src="//api-maps.yandex.ru/services/constructor/1.0/js/?sid=sBCM2pZpKXUEyenj-aydu2GRM1IFXZkh&width=821&height=228"></script>
				</div>
                {% include 'request.html' %}
            </div>

        </div>

        {% include 'footer.html' %}

{% endblock %}



