<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <meta charset="utf-8"/>
    <title></title>
    <link type="text/css" rel="stylesheet" href="css/style.css"/>
    <link type="text/css" rel="stylesheet" href="css/reset.css"/>
   

</head>
<body>
<div class="layout">
    <div class="wrapper">
        <div class="header">
            <span class="phone">(4895)<span class="phone__in">33-03-64</span></span>
				<span class="logo"><span class="logo_mark">F</span>EST | LAB
					<span class="logo__in">с нами вам удобнее
					</span>
				</span>
            <ul class="nav">
                <li class="nav__i active">Продукты 1С</li>
                <li class="nav__i">Услуги</li>
                <li class="nav__i">О компании</li>
                <li class="nav__i">Контакты</li>
            </ul>
            <div class="form_feedback">
                <span class="form_feedback__title">Оставьте контакты и мы вам позвоним</span>

                <div class="contact-form">
                    <form>
                        <input id="form_name" class="contact-form_text" type="text" value="" placeholder="Ваше имя..."/>
                        <input id="form_phone" class="contact-form_text" type="text" value="" placeholder="Телефон..."/>
                        <input class="contact-form__btn" type="button" value="+"/>

                    </form>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="page page_feeadback">
                    <span class="page__heading">Контакты<span class="page__heading__in">А сдесь вы можете ознакомится с нашим<br/>
месторасположением и оставить заявку</span> </span>
                <p class="page_feeadback__text">Адрес: г. Москва, ул. Ленина д.64, оф.503</p>
                <p class="page_feeadback__text">Телефон: (4895) 33-03-69</p>
                <p class="page_feeadback__text">Факс: (4895) 33-03-70</p>
				<div class="map"></div>
                <div class="feedback">
                   <span class="feedback__title"> Отправить</br>
                    заявку </span>
                    <div class="feedback__form">
                        <form>
                            Имя
                            <input class="feedback__form__info feedback__form__name" type="text" placeholder="Иванов Иван Николаевич"/>
                            E-mail
                            <input class="feedback__form__info feedback__form__email" type="text" placeholder="ivanov@mail.ru"/>
                            Телефон
                            <input class="feedback__form__info feedback__form__phone" type="text" placeholder="+7 (906) 783-32-44"/>
                            Сообщение
                            <textarea class="feedback__form__text" placeholder="Текст сообщения..."> </textarea>
                            <input type="submit" value="Отправить" class="feeadback__btn"/>
                        </form>
                    </div>
                </div>
            </div>

        </div>

        <div class="footer">
            <span class="footer__counter"></span>
            Copirayting 2013  FEST | LAB
        </div>

    </div>
</div>

</body>
</html>



