{% extends 'base.html' %}

{% block content %}
            <div class="page page_feeadback">
                    <span class="page__heading">Контакты<span class="page__heading__in">А здесь вы можете ознакомится с нашим<br/>
месторасположением и оставить заявку</span> </span>
                <p class="page_feeadback__text">Адрес: г. Москва, ул. Ленина д.64, оф.503</p>
                <p class="page_feeadback__text">Телефон: (4895) 33-03-69</p>
                <p class="page_feeadback__text">Факс: (4895) 33-03-70</p>
				<div class="map"></div>
                {% include 'request.html' %}
            </div>

        </div>

        <div class="footer">
            <span class="footer__counter"></span>
            Copirayting 2013  FEST | LAB
        </div>

{% endblock %}



