{% extends 'base.html' %}

{% block content %}
            <div class="page_about">
                <div class="slider__wrap">
                    <ul class="slider">

                        {% for s in slideshow %}
                        
                        <li class="slider__i">
                            <img class="sider__img" src="/static/img/report.jpg" alt=""/>
                            <span class="sider__title">{{ s.title }}</span>
                            <div class='free'>{{ s.content|safe }}</div>
                        </li>
                        
                        {% endfor %}
                    </ul>
                    <div class="slider__nav">
                        {% for s in slideshow %}<span class="slider__nav__l"></span>{% endfor %}
                    </div>
                </div>
                <div class="about__box about__box_a">
                    <span class="about__box__title">Купить</span>
                    Мы дарим нашим новым клиентам 30 минут пробных консультаций по любым вопросам в рамках .
                </div>
                <div class="about__box about__box_b">
                    <span class="about__box__title">Внедрить</span>
                    Мы дарим нашим новым клиентам 30 минут пробных консультаций по любым вопросам в рамках .
                </div>
                <div class="about__box about__box_c">
                    <span class="about__box__title">Доработать</span>
                    Мы дарим нашим новым клиентам 30 минут пробных консультаций по любым вопросам в рамках .
                </div>
                <div class="page_about__content">
                    {{ content|safe }}
                </div>
            </div>

            <div class="footer">
                <span class="footer__counter"></span>
                Copirayting 2013 FEST | LAB
            </div>

{% endblock %}

