{% extends 'base.html' %}

{% block content %}
            <div class="page page_service">
                    <span class="page__heading">Услуги<span class="page__heading__in">Мы помогаем своим клиентам настраивать<br/>
и использовать программный продукт</span> </span>
                <span class="page_service__title">Что такое абонентское обслуживание?</span>

                <p class="page_service__text">Абонентское обслуживание "1С" — это список услуг компании «Лаэрта» по
                    сопровождению программных продуктов фирмы "1С". Услуги предоставляются по фиксированной цене,
                    заранее утвержденной с заказчиком. Все работы выполняются своевременно и в строго установленный
                    срок. Оплата работ возможна как на авансовой основе, так и по фактически затраченным часам в
                    зависимости от тарифа. </p>

                В рамках абонентского обслуживания мы:
                    <ul>
                    <li>Поможем сформировать регламентированную отчетность. <li>
                <li> Обновим релизы и конфигурации программных продуктов, формы отчетности. <li>
                <li>Выполним для вас регулярные профилактические работы: создание резервных копий, тестирование и
               обновление баз данных.            <li>
                <li> Администрируем систему: введем и настроим новых пользователей, разграничим права доступа к ресурсам.<li>
                <li> Настроим продукты «1С: Предприятие» под специфику Вашей фирмы: внесем изменения в справочники,
                отчеты, документы, план счетов. <li>
                <li>Разработаем любой необходимый вам новый функционал   <li>
                <li> Ответим на ваши вопросы в рамках линии консультаций.<li></ul> </p>

                <p class="page_service__text">По сути, говоря об абонентском обслуживании мы подразумеваем выгодную
                    альтернативу содержанию в вашем штате специалиста по работе с 1С-программами. Вам не придется
                    платить ему ежемесячную зарплату и премии, организовывать постоянное рабочее место и бояться, что он
                    в любой момент может уволиться. Вместо этого вы заказываете абонентское обслуживание 1С у нас, что
                    обойдется в разы дешевле. </p>

                    <table class="service__table">
                        <tr>
                            <th>Тариф </th>
                            <th>Объем услуги в рамках
                                абонентского лимита (час)</th>
                            <th>Объем услуги в рамках
                                абонентского лимита (час)</th>
                            <th>Объем услуги в рамках
                                абонентского лимита (час)</th>
                        </tr>
                        <tr>
                            <td>Базовый
                            </td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>Экономный
                            </td>
                            <td>10</td>
                            <td>10</td>
                            <td>10</td>
                        </tr>
                        <tr>
                            <td> Стандартный</td>
                            <td>20</td>
                            <td>20</td>
                            <td>20</td>
                        </tr>
                        <tr>
                            <td>Продвинутый</td>
                            <td>30</td>
                            <td>30</td>
                            <td>30</td>
                        </tr>
                        <tr>
                            <td>Оптимальный</td>
                            <td>50</td>
                            <td>50</td>
                            <td>50</td>
                        </tr>
                        <tr>
                            <td> Максимальный
                            </td>
                            <td>100</td>
                            <td>100</td>
                            <td>100</td>
                        </tr>


                    </table>
                <a href="#request_block" id='send_request' class="product__btn product__btn-service">Отправить заявку на подключение</a>
                
            </div>
            
            <div class="page page_feeadback hidden" id='request_block'>
                {% include 'request.html' %}
            </dib>
            
            <script>
                $('#send_request').click(function(){
                    if ($('#request_block').hasClass('hidden')) $('#request_block').removeClass('hidden')
                    else $('#request_block').addClass('hidden')
                })
            </script>
            
            

        </div>

        <div class="footer">
            <span class="footer__counter"></span>
            Copirayting 2013 fest | lab
        </div>

{% endblock %}