<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <meta charset="utf-8"/>
    <title></title>
    <link type="text/css" rel="stylesheet" href="css/style.css"/>
    <link type="text/css" rel="stylesheet" href="css/reset.css"/>
    <script src="jquery-1.9.1.min.js"></script>
    <script src="script.js"></script>

</head>
<body>
<div class="layout">
    <div class="wrapper">
        <div class="header">
            <span class="phone">(4895)<span class="phone__in">33-03-64</span></span>
				<span class="logo">Fest | lab
					<span class="logo__in">с нами вам удобнее
					</span>
				</span>
            <ul class="nav">
                <li class="nav__i active">Продукты 1С</li>
                <li class="nav__i">Услуги</li>
                <li class="nav__i">О компании</li>
                <li class="nav__i">Контакты</li>
            </ul>
            <div class="form_feedback">
                <span class="form_feedback__title">Оставьте контакты и мы вам позвоним</span>

                <div class="contact-form">
                    <form>
                        <input id="form_name" class="contact-form_text" type="text" value="" placeholder="Ваше имя..."/>
                        <input id="form_phone" class="contact-form_text" type="text" value="" placeholder="Телефон..."/>
                        <input class="contact-form__btn" type="button" value="+"/>

                    </form>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="page page_service">
                    <span class="page__heading">Услуги<span class="page__heading__in">Мы помогаем своим клиентам настраивать<br/>
и использовать программный продукт</span> </span>
                <span class="page_service__title">Что такое абонентское обслуживание?</span>

                <p class="page_service__text">Абонентское обслуживание "1С" — это список услуг компании «Лаэрта» по
                    сопровождению программных продуктов фирмы "1С". Услуги предоставляются по фиксированной цене,
                    заранее утвержденной с заказчиком. Все работы выполняются своевременно и в строго установленный
                    срок. Оплата работ возможна как на авансовой основе, так и по фактически затраченным часам в
                    зависимости от тарифа. </p>

                В рамках абонентского обслуживания мы:
                    <ul>
                    <li>Поможем сформировать регламентированную отчетность. <li>
                <li> Обновим релизы и конфигурации программных продуктов, формы отчетности. <li>
                <li>Выполним для вас регулярные профилактические работы: создание резервных копий, тестирование и
               обновление баз данных.            <li>
                <li> Администрируем систему: введем и настроим новых пользователей, разграничим права доступа к ресурсам.<li>
                <li> Настроим продукты «1С: Предприятие» под специфику Вашей фирмы: внесем изменения в справочники,
                отчеты, документы, план счетов. <li>
                <li>Разработаем любой необходимый вам новый функционал   <li>
                <li> Ответим на ваши вопросы в рамках линии консультаций.<li></ul> </p>

                <p class="page_service__text">По сути, говоря об абонентском обслуживании мы подразумеваем выгодную
                    альтернативу содержанию в вашем штате специалиста по работе с 1С-программами. Вам не придется
                    платить ему ежемесячную зарплату и премии, организовывать постоянное рабочее место и бояться, что он
                    в любой момент может уволиться. Вместо этого вы заказываете абонентское обслуживание 1С у нас, что
                    обойдется в разы дешевле. </p>

                    <table class="service__table">
                        <tr>
                            <th>Тариф </th>
                            <th>Объем услуги в рамках
                                абонентского лимита (час)</th>
                            <th>Объем услуги в рамках
                                абонентского лимита (час)</th>
                            <th>Объем услуги в рамках
                                абонентского лимита (час)</th>
                        </tr>
                        <tr>
                            <td>Базовый
                            </td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>Экономный
                            </td>
                            <td>10</td>
                            <td>10</td>
                            <td>10</td>
                        </tr>
                        <tr>
                            <td> Стандартный</td>
                            <td>20</td>
                            <td>20</td>
                            <td>20</td>
                        </tr>
                        <tr>
                            <td>Продвинутый</td>
                            <td>30</td>
                            <td>30</td>
                            <td>30</td>
                        </tr>
                        <tr>
                            <td>Оптимальный</td>
                            <td>50</td>
                            <td>50</td>
                            <td>50</td>
                        </tr>
                        <tr>
                            <td> Максимальный
                            </td>
                            <td>100</td>
                            <td>100</td>
                            <td>100</td>
                        </tr>


                    </table>
                <a href="#" class="product__btn product__btn-service">Отправить заявку на подключение</a>
            </div>

        </div>

        <div class="footer">
            <span class="footer__counter"></span>
            Copirayting 2013 fest | lab
        </div>

    </div>
</div>

</body>
</html>



