{% extends 'base.html' %}

{% block content %}
            <div class="page page_service">
                <span class="page__heading">Услуги<span class="page__heading__in">Мы помогаем своим клиентам настраивать<br/>
и использовать программный продукт</span> </span>
                
                {{ content|safe }}
                
                <a href="#request_block" id='send_request' class="product__btn product__btn-service">Отправить заявку на подключение</a>
                
            </div>
            
            <div class="page page_feedback hidden" id='request_block'>
                {% include 'request.html' %}
            </div>
            
            <script>
                $('#send_request').click(function(){
                    if ($('#request_block').hasClass('hidden')) $('#request_block').removeClass('hidden')
                    else $('#request_block').addClass('hidden')
                })
            </script>
            
            

        </div>

        <div class="footer">
            <span class="footer__counter"></span>
            Copirayting 2013 fest | lab
        </div>

{% endblock %}